{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <h5>부동산 뉴스</h5>
                    </button>
                    <div class="collapse" id="news">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="{% url 'news:news_naver' %}" class="link-dark rounded"><h6>- Naver News</h6></a></li>
                          <li><a href="{% url 'news:news_daum' %}" class="link-dark rounded"><h6>- Daum News</h6></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:600px">
            <img src="{% static 'assets/img/signin3.jpg'%}" style='width: 100%; height:400px;'>
            <p>
            <p align = "center">똑똑하게 집구하기 - 월세, 전세를 자세히 알아보자!!</p>
            <p><p>1. 월세, 전세 둘 중에 결정하고 전세 자금 대출을 알아보자.<p>
            <p style = "font-size: 80%"> &nbsp&nbsp처음으로 독립하여 내가 살 집을 알아볼 때 대부분의 사람들이 먼저 하게 되는 거래는
            대부분 월세, 전세이다. “보증금”이라는 큰 돈이 들어가는 거래인 만큼 많은 것들을 확인해가며 따져봐야한다.</p>

            <p><a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=27073015&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/028-working-at-home.png' style='width: 32%; height:130px;'></a>
            <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=5874984&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/011-home-3.png' style='width: 32%; height:130px;'></a>
            <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=11020816&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/001-house.png' style='width: 32%; height:130px;'></a>

            <p style = "font-size: 70%">사회초년생이라면 클릭⬆  &nbsp &nbsp &nbsp  전세도 월세도 아닌 반전세⬆ &nbsp &nbsp 전세 자금 대출을 알아보자⬆</p>


            <p><p>2. 청년, 신혼부부를 위한 주거지원제도

            <p><a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28039152&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/024-home-12.png' style='width: 32%; height:130px;'></a>
            <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=8219382&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/027-home-13.png' style='width: 32%; height:130px;'></a>
            <a href="https://post.naver.com/viewer/postView.naver?volumeNo=32580498&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/home1.png' style='width: 32%; height:130px;'></a>

            <p style = "font-size: 70%">신혼부부를 위한 전세자금대출⬆  &nbsp &nbsp &nbsp  신혼부부의 내집마련⬆   &nbsp &nbsp  결혼 전 버팀목 전세 대출⬆</p><p><p><p>

            <p><p><p>3. 전월세 관련 사이트

            <p><a href="https://post.naver.com/viewer/postView.nhn?volumeNo=29583975&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/005-house-3.png' style='width: 32%; height:130px;'></a>
            <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=10536229&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/013-house-5.png' style='width: 32%; height:130px;'></a>
            <a href="http://post.naver.com/viewer/postView.nhn?volumeNo=11639174&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/029-house-11.png' style='width: 32%; height:130px;'></a>

            <p style = "font-size: 70%">전월세 관련 부동산 사이트⬆  &nbsp &nbsp  알아두면 좋은 부동산 사이트⬆  &nbsp &nbsp 전세집 구하기 사이트⬆</p>


            <!-- Divider-->
            <hr class="my-4" />
        </div>

</div>

{% endblock %}
