{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <h5>부동산 뉴스</h5>
                    </button>
                    <div class="collapse" id="news">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="{% url 'news:news_naver' %}" class="link-dark rounded"><h6>- Naver News</h6></a></li>
                          <li><a href="{% url 'news:news_daum' %}" class="link-dark rounded"><h6>- Daum News</h6></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:600px">

            <img src="{% static 'assets/img/signin2.jpg'%}" width="600px" height="400px">
            <p>
            <p align = "center">똑똑하게 집구하기 - 매매할 때 비용, 대출 등을 알아보자!!</p>
            <p><p>1. 가용자금 확인 및 대출 계획 세우기<p>
            <p style = "font-size: 80%"> &nbsp&nbsp요즘 같이 대출 규제가 강화된 때에는 현재 본인이 갖고 있는 돈 외에도 내가 얼마나 대출이 가능한지도 파악하고 있어야 한다!
            또한, 주택 거래 시 집값 외에도 세금, 등기비용, 중개수수료 등 소요되는 비용이 많기 때문에, 이 비용을 감안해 예산 계획을
            세워야 한다.<img src = '../../static/assets/img/news/pic1.png' style='width: 100%; height:300px;'></p>
            <p><p>2. 나에게 맞는 은행 대출을 한번 찾아보자.
            <p><a href="https://portal.kfb.or.kr/compare/loan_household.php" target="_blank"><img src = '../../static/assets/img/news/009-home-2.png' width = '185' height = '130'></a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://www.fsb.or.kr/ratloanguar_0100.act" target="_blank"><img src = '../../static/assets/img/news/015-home-5.png' width = '185' height = '130'></a>

            <p style = "font-size: 70%">제1금융권(금리 비교하는 곳)⬆  &nbsp &nbsp &nbsp  제2금융권(금리 비교하는 곳)⬆</p><p><p><p>

            <p><p><p>3. 내 집 마련을 위해 필요한 대출 상품 살펴볼까?

            <p><a href="https:/post.naver.com/viewer/postView.naver?volumeNo=5413266&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/025-house-9.png' style='width: 32%; height:130px;'></a>
            <a href="https:/post.naver.com/viewer/postView.naver?volumeNo=32043553&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/026-house-10.png' style='width: 32%; height:130px;'></a>
            <a href="https:/m.post.naver.com/viewer/postView.naver?volumeNo=31949212&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/house.png' style='width: 32%; height:130px;'></a>

            <p style = "font-size: 70%">디딤돌 대출의 모든 것⬆  &nbsp &nbsp &nbsp  금리 상한형 주택담보대출⬆  &nbsp &nbsp 신혼부부-40년 초장기 대출⬆</p>


            <p>4. 부동산에 대한 이모저모 정보를 찾아왔어!!
            <p><a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28404456&memberNo=7653935&navigationType=push" target="_blank"><img src = '../../static/assets/img/news/011-home-3.png' style='width: 32%; height:130px;'></a>
            <a href="https://m.post.naver.com/viewer/postView.naver?volumeNo=5428708&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/013-house-5.png' style='width: 32%; height:130px;'></a>
            <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=10536229&memberNo=7653935" target="_blank"><img src = '../../static/assets/img/news/003-home.png' style='width: 32%; height:130px;'></a>

            <p style = "font-size: 70%">부동산 최신 신조어⬆  &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp  빌라? 원룸? 자세히 알아보자⬆  &nbsp &nbsp&nbsp&nbsp&nbsp 이것저것 부동산 사이트⬆</p>



            <!-- Divider-->
            <hr class="my-4" />
        </div>

</div>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-muted fst-italic">Copyright &copy; for my sweet home 2022</div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
