{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <a href="{% url 'news:news'%}">
                        <h5>부동산 뉴스</h5>
                      </a>
                    </button><p></p>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:950px">
            <div class="jumbotron mx-4">
                <h3>똑똑하게 집 구하기 <span class="text-muted">for 청약편</span></h3><p></p><p></p>
                <hr class="my-2">
            </div>
            <!--content start-->
            <h5><p align = "left" class="text-muted">청약에 대해 자세히 알아보자!!</p></h5>
            <!--content 1-->
            <h5>1. 내 집 마련을 위한 ‘열쇠’, 청약 통장이란?</h5>
            <p style = "font-size: 83%"> &nbsp&nbsp 청약을 통해 내 집을 마련하고 싶다면 먼저 갖고 있어야 하는 것이
            바로 청약통장이다. 이 통장이 있어야 주택을 신청할 수 있는 자격을 얻을 수 있어서 매우 중요하다. 청약통장이 있다면
            공공주택, 민영주택, 신규분양주택, 국민주택 등의 다양한 유형의 주택에 모두 신청할 수 있어서 때로는 '만능통장'
            이라고 불린다.</p>
            <div class="row mx-5 my-3">
                <div class="col" id="content1-col1" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">주택 청약이란??</h5>
                        <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=26769028&memberNo=7653935&navigationType=push" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col" id="content1-col2" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">청약통장 만들기</h5>
                        <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=5445222&memberNo=7653935" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col" id="content1-col3" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">청년우대형 청약통장 만들기</h5>
                        <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=21209462&memberNo=7653935" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!--content 2-->
            <h5>2. 청약 자격과 아파트 분양 절차에 대해 알아보자.</h5>
            <div class="row mx-5 my-3">
                <div class="col" id="content2-col1" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">주택청약 자격발생</h5>
                        <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=5534936&memberNo=7653935&navigationType=push" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col" id="content2-col2" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">아파트 분양 절차 알아보기</h5>
                        <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=25502840&memberNo=7653935&navigationType=push" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <img src = '../../static/assets/img/news/pic3.png' style='width: 100%; height:450px;'>
            <p></p>
            <img src = '../../static/assets/img/news/pic4.png' style='width: 100%; height:550px;'>
            <!-- Divider-->
            <hr class="my-4" />
            <!--content 3-->
            <h5>3. 이 사이트에서 청약을 할 수 있습니다!!</h5>
            <div class="row mx-5 my-3">
                <div class="col" id="content3-col1" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">LH 청약센터</h5>
                        <a href="https://apply.lh.or.kr/index.html" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col" id="content3-col2" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">한국부동산원 청약 HOME!</h5>
                        <a href="https://www.applyhome.co.kr/ai/aia/selectAPTLttotPblancListView.do" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col" id="content3-col3" style="width:32%;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">마이홈포털</h5>
                        <a href="https://www.myhome.go.kr/hws/portal/sch/selectRsdtRcritNtcView.do" target="_blank" class="card-link">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
</div>

{% endblock %}
