{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <h5>부동산 뉴스</h5>
                    </button>
                    <div class="collapse" id="news">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="{% url 'news:news_naver' %}" class="link-dark rounded"><h6>- Naver News</h6></a></li>
                          <li><a href="{% url 'news:news_daum' %}" class="link-dark rounded"><h6>- Daum News</h6></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:600px">
            <img src="{% static 'assets/img/house-news.jpg'%}" width="600px" height="400px">


            <!-- Divider-->
            <hr class="my-4" />
        </div>
</div>

{% endblock %}
