{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <h5>부동산 뉴스</h5>
                    </button>
                    <div class="collapse" id="news">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="{% url 'news:news_naver' %}" class="link-dark rounded"><h6>- Naver News</h6></a></li>
                          <li><a href="{% url 'news:news_daum' %}" class="link-dark rounded"><h6>- Daum News</h6></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:800px">
            <img src="{% static 'assets/img/house-news.jpg'%}" width="600px" height="400px"><p>

        <!--카드 1-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=277&arti_id=0005043776" class="btn btn-primary" target="_blank">"쏟아지는 청년·신혼부부 주거혜택 찾으세요"…서울시, 가이드북 발간</a>
          </div>
        </div><p>

            <!--카드 2-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=023&arti_id=0003672535" class="btn btn-primary" target="_blank">작년 서울 아파트 10채 중 4채, 2030이 사들여… 집값 조정에 패닉 오나</a>
          </div>
        </div><p>

        <!--카드 3-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=421&arti_id=0005902578" class="btn btn-primary" target="_blank">공공이 직접 재개발한다던 13만6000가구…국회 '문턱'에 1년째 '표류'</a>
          </div>
        </div><p>

            <!--카드 4-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=243&arti_id=0000022774" class="btn btn-primary" target="_blank">가파른 상승세 보이는 주담대 금리…6% 육박, 연말엔 7% 가나</a>
          </div>
        </div><p>

        <!--카드 5-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=005&arti_id=0001505171" class="btn btn-primary" target="_blank">집값 하향 안정세 본격화… 5년 이하 신축 조정 ‘뚜렷’</a>
          </div>
        </div><p>

        <!--카드 6-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=001&arti_id=0012982050" class="btn btn-primary" target="_blank">강북구 "부동산 중개사무소 개설 등록 하루면 OK"</a>
          </div>
        </div><p>

        <!--카드 7-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=001&arti_id=0012982605" class="btn btn-primary" target="_blank">경기도 지방세수 연평균 9.3% 증가 전망…취득세는 10.1%↑</a>
          </div>
        </div><p>

        <!--카드 8-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=016&arti_id=0001950544" class="btn btn-primary" target="_blank">치솟은 전셋값에…희망고문된 LH전세임대</a>
          </div>
        </div><p>

            <!--카드 9-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=016&arti_id=0001950501" class="btn btn-primary" target="_blank">역대급 ‘거래빙하기’…금융위기 수준</a>
          </div>
        </div><p>

            <!--카드 10-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://land.naver.com/news/newsRead.naver?type=headline&bss_ymd=&prsco_id=001&arti_id=0012982059" class="btn btn-primary" target="_blank">서울아파트 월세 낀 거래 작년 7만1천여건…통계 집계 이래 최다</a>
          </div>
        </div><p>




            <!-- Divider-->
            <hr class="my-4" />
        </div>
</div>

{% endblock %}
