{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/house-news.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>News</h1>
                    <span class="subheading">부동산 관련 뉴스</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <div class="col-lg-2" style="width: 350px;">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="{% url 'news:news' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"></svg>
                  <span class="fs-3 fw-bold">News</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="true">
                      <h5>부동산 뉴스</h5>
                    </button>
                    <div class="collapse" id="news">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="{% url 'news:news_naver' %}" class="link-dark rounded"><h6>- Naver News</h6></a></li>
                          <li><a href="{% url 'news:news_daum' %}" class="link-dark rounded"><h6>- Daum News</h6></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                      <h5>똑똑하게 집 구하기</h5>
                    </button>
                    <div class="collapse" id="howto-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'news:htsale' %}" class="link-dark rounded"><h6>- 매매</h6></a></li>
                        <li><a href="{% url 'news:htmonth' %}" class="link-dark rounded"><h6>- 전월세</h6></a></li>
                        <li><a href="{% url 'news:htsub' %}" class="link-dark rounded"><h6>- 청약</h6></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <!--content-->
        <div class="col-lg-4" style="width:600px">
        <!--카드 1-->
            <img src="{% static 'assets/img/signin1.jpg'%}" width="600px" height="400px"><p>

        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214100221367" class="btn btn-primary" target="_blank">집값 하락 전환에도..10명 중 4명 "올해 부동산 투자 예정"</a>
          </div>
        </div><p>

            <!--카드 2-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214111719596" class="btn btn-primary" target="_blank">'불장' 세종·대전·대구 하락..서울 3.3㎡당 4000만원 붕괴</a>
          </div>
        </div><p>

        <!--카드 3-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214112531946" class="btn btn-primary" target="_blank">두배 뛴 전세대출금리에 월세 낀 거래 '역대 최다'</a>
          </div>
        </div><p>

            <!--카드 4-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220212195043215" class="btn btn-primary" target="_blank">GS건설, 서울 불광5구역 재개발·부산 구서5구역 재건축 수주</a>
          </div>
        </div><p>

        <!--카드 5-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214182347080" class="btn btn-primary" target="_blank">육사 부지·태릉·갈매지구 연계 개발? 2만가구 공급 기대감</a>
          </div>
        </div><p>

        <!--카드 6-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214081905902" class="btn btn-primary" target="_blank">10명 중 8명 "부동산은 재테크·투자 수단"..금리인상 '변수 1위'</a>
          </div>
        </div><p>

        <!--카드 7-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214121340247" class="btn btn-primary" target="_blank">물량 쏟아져도 청약 '썰렁'..커지는 미분양 공포</a>
          </div>
        </div><p>

        <!--카드 8-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214154621646" class="btn btn-primary" target="_blank">[단독]입주자모집 공고 냈는데..도심복합사업에 밀린 행복주택</a>
          </div>
        </div><p>

            <!--카드 9-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214110143942" class="btn btn-primary" target="_blank">"우리 집주인은 중국인".. 외국인 소유주택 임대차계약 1년새 4배로</a>
          </div>
        </div><p>

            <!--카드 10-->
        <div class="card" style="width: 18rem;">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <img src = '../../static/assets/img/news/025-house-9.png' style='width: 100%; height:200px;'>
          <div class="card-body">
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text"></p>-->
            <a href="https://realestate.daum.net/news/detail/main/20220214111645585" class="btn btn-primary" target="_blank">바뀌는 서울 부촌지도..가격 꺾인 강남, 뜨는 송파·용산</a>
          </div>
        </div><p>


            <!-- Divider-->
            <hr class="my-4" />
        </div>

</div>

{% endblock %}
